@tailwind base;
@tailwind components;
@tailwind utilities;

.night_flea_message {
  text-shadow: 2px 2px 15px #000000;
}

.product_category::-webkit-scrollbar {
  display: none;
}

.product_category {
  scrollbar-width: none;
}
